html {
	font-family: Arial, Verdana, Tahoma;
}

body {
	font-size: 12pt;
}

pre,code {
	font-family: Courier New, monospace;
}

h1 {
	font-size: 1.6em;
	margin: 10px;
}

h2 {
	font-size: 1.4em;
	margin: 10px;
}

h3 {
	font-size: 1.3em;
	margin: 10px;
}

p {
	font-size: 1em;
	line-height: 1.2em;
	margin: 10px;
}

table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

th {
	font-weight: bold;
	padding: 5px;
}

tr {
	
}

tbody tr:hover {
	background: #efefef;
}

td {
	padding: 5px;
}

/* grid stuff */
#header {
	height: 111px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

#header ul {
	height: 2em;
}

#header ul li {
	display: inline;
	padding: 10px;
}

#content {
	width: 975px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	padding: 1em;
}

ul {
	margin-left: 20px;
}

#content .floater {
	float: right;
	width: 380px;
	border-left: 1px solid black;
	padding-left: 5px;
	margin-left: 5px;
	padding-bottom: 10px;
}

/* goofy classes */
.float-left {
	float: left;
}

/* anything slider */
.anythingSlider {
	width: 525px;
	height: 450px;
	position: relative;
	margin: 0 auto 0px;
}

.anythingSlider .wrapper {
	width: 525px;
	overflow: auto;
	height: 450px;
	margin: 0 0px;
	position: absolute;
	top: 0;
	left: 0;
}

.anythingSlider .wrapper h1 {
	font-size: 30px;
	margin-top: 20px;
	text-align: center
}

.anythingSlider .wrapper h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0.8em;
	color: #0090ff;
}

.anythingSlider .wrapper  a {

}

.anythingSlider .wrapper ul {
	width: 9999px;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 0px solid #e0a213;
	border-bottom: 0px solid #e0a213;
	margin: 0;
}

.anythingSlider ul li {
	display: block;
	float: left;
	padding: 0;
	height: 500px;
	width: 525px;
	margin: 0;
	padding: 0px;
	color: #000;
	line-height: 25px
}

.anythingSlider .arrow {
	display: block;
	height: 43px;
	width: 44px;
	text-indent: -9999px;
	position: absolute;
	top: 125px;
	cursor: pointer;
}

.anythingSlider .forward {
	background-position: top right;
	right: -44px;
}

.anythingSlider .back {
	background-position: 0 0;
	left: -44px;
}

.anythingSlider .forward:hover {
	background-position: bottom right;
}

.anythingSlider .back:hover {
	background-position: 0 -43px;
}

.anythingSlider .wrapper ul ul {
	position: static;
	margin: 0;
	background: none;
	overflow: visible;
	width: auto;
	border: 0;
}

.anythingSlider .wrapper ul ul li {
	float: none;
	height: auto;
	width: auto;
	background: none;
}

/*FORMS DL, DT, DD TAGS LIST DATA*/
dl {
    margin-bottom: 10px;
}

dl dt {
    float: left;
    margin-right: 10px;
    padding: 2px;
    text-align: right;
    width: 40%;
    clear: both;
}

dl dd {
    margin: 2px 0;
    padding: 2px 0;
}

fieldset {
    border: 1px solid white;
}

fieldset label {
}

legend {
    font-size: 12pt;
    margin-left: 6em;
    border-bottom: 1px solid black;
}
textarea {
	width: 40%;
}
input[type=text] {
    width: 40%;
}

